#wrap {
  max-width: $break-max;
  margin: 0 auto;
  @include clearfix;
}

.row { @include make-row($gutter); }


.col-small-6 {
  @include make-small-column(6, $gutter);
}

.col-medium-4 {
  @include make-medium-column(4, $gutter);
}

.col-medium-6 {
  @include make-medium-column(6, $gutter);
}

.col-medium-8 {
  @include make-medium-column(8, $gutter);
}

.col-medium-10 {
  @include make-medium-column(10, $gutter);
}


.col-large-4 {
  @include make-large-column(4, $gutter);
}


.col-max-3 {
  @include make-max-column(3, $gutter);
}


.column {
  float: left;
}

[class^="col-medium-"],
[class^="col-large-"],
[class^="col-max-"] {
  @include respond-to(handhelds) {
    width: 100%;
  }
}
