doctype html
html(lang="es_ES")
  block head
    include ../partials/_head.jade
    
    body.default-layout
      #wrap
        #navigation
          block navigation

        header#header
          block search

        #content
          block content

      block footer
        include ../partials/_footer.jade

