head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(name="theme-color", content='#15A6E2')
  title Brand processes
  link(rel="stylesheet", href="css/vendor.css")
  link(rel="stylesheet", href="css/styles.css")