/// Base styles

@import 'reset';
$black: #000;

$grid-columns: 12;
$gutter: 15px;

// 
html {
  height: 100%;
}

body {
  font: 100% 'lato', sans-serif;
  font-size: 14px;
  height: 100%;
  color: $black;
}

h1, h2 {
  font-family: 'avalon';
}

h1 {

}

h2 {

}

.container {

}

#navigation {
  
}

a {
  cursor: pointer;
  text-decoration: none;
}

a,
button,
input {
  outline: none;
}

.clearfix {
  @include clearfix;
}


/// Queries styles

$break-small: 768px;
$break-medium: 1024px;
$break-nav: 1150px;
$break-large: 1300px;
$break-max: 1400px;