@charset 'UTF-8';


/// breakpoint
/// this mixin needs to be used to enter a @media that will let use use cross-media placeholders
/// ex:



@mixin breakpoint($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @if $value != null {
    $current-breakpoint: $breakpoint !global;
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Invalid breakpoint `#{$breakpoint}`.";
  }
}

/// @name clearfix
/// @author marcink
/// clearfix float elements


@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

/// @name hide
/// @author Multiplica
/// @param {string} $device - device (mobile, tablet, laptop, desktop)

@mixin hide($device) {
  @if $device == handhelds {
    @media (max-width: $break-small - 1) {
      & {
        display: none !important;
      }
    }
  }
  @else if $device == medium-screens {
    @media (min-width: $break-small) and (max-width: $break-medium - 1) {
      & {
        display: none !important;
      }
    }
  }
  @else if $device == wide-screens {
    @media (min-width: $break-medium) {
      & {
        display: none !important;
      }
    }
  }
  @else if $device == navigation-shown {
    @media (min-width: $break-nav) {
      & {
        display: none !important;
      }
    }
  }
}

/// @name show
/// @author Multiplica
/// @param {string} $device - device (mobile, tablet, laptop, desktop)

@mixin show($device) {
  @if $device == handhelds {
    @media (min-width: $break-small) {
      & {
        display: none !important;
      }
    }
  }
  @else if $device == medium-screens {
    @media (max-width: $break-small -1) {
      & {
        display: none !important;
      }
    }
    @media (min-width: $break-medium) {
      & {
        display: none !important;
      }
    }
  }
  @else if $device == wide-screens {
    @media (max-width: $break-medium -1) {
      & {
        display: none !important;
      }
    }
  }
}

/// @name form-placeholder
/// @author marcink
/// @param {string} $color - placeholder color
/// @param {number} $opacity  [1.0]  - placeholder opacity

@mixin form-placeholder($color, $opacity: 1) {
  &::-webkit-input-placeholder {
    color: $color;
    opacity: $opacity;
  }

  &:-moz-placeholder {
    color: $color;
    opacity: $opacity;
  }

  &::-moz-placeholder {
    color: $color;
    opacity: $opacity;
  }

  &:-ms-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
}

/// @name Retina


@mixin retina() {
  @media (min--moz-device-pixel-ratio: 1.5),
  (-o-min-device-pixel-ratio: 3/2),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-device-pixel-ratio: 1.5),
  (min-resolution: 1.5dppx) {
    @content;
  }
}


/// @name rem
/// @author marcink
/// @param {string} $property - property
/// @param {string} $px-values- px value
/// Convert px to rem


@mixin rem($property, $px-values) {
  $baseline-rem: $baseline-px / 1rem;
  @if type-of($px-values) == 'number' {
    #{$property}: $px-values / $baseline-rem;
  } @else {
    $rem-values: unquote('');
    @each $value in $px-values {
      @if $value == 0 {
        $rem-values: append($rem-values, $value);
      } @else if $value == 'auto' {
        $remvalues: append($remvalues, $value);
      } @else if $value == '!important' {
        $remvalues: append($remvalues, $value);
      } @else {
        $rem-values: append($rem-values, $value / $baseline-rem);
      }
    }
    #{$property}: $rem-values;
  }
}

/// @name box-shadow
/// @param {string} $top - top
/// @param {string} $left - left
/// @param {string} $blur - blur
/// @param {string} $inset - inset

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
  -moz-box-shadow:$top $left $blur $color #{$inset};
  box-shadow:$top $left $blur $color #{$inset};
}



/// @name border-radius
/// @param {string} $radius - border radius

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}


/// @name respond-to
/// @param {string} $media - media name (handhelds, medium-screens, wide-screens, navigation-shown, large-screens, max)

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small - 1) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-medium) { @content; }
  }
  @else if $media == navigation-shown {
    @media only screen and (min-width: $break-nav) { @content; }
  }
  @else if $media == until-navigation-shown {
    @media only screen and (max-width: $break-nav - 1) { @content; }
  }
  @else if $media == large-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
  @else if $media == max {
    @media only screen and (min-width: $break-max) { @content; }
  }
}


/// @name make-small-column
/// @author bootstrap
/// @param {integer} $columns - columns quantity
/// Creates handhelds columns

@mixin make-small-column($columns, $gutter: $grid-gutter-width) {
  @include respond-to(handhelds) {
    position: relative;
    min-height: 1px;
    padding-left:  ($gutter / 2);
    padding-right: ($gutter / 2);
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}

/// @name make-medium-column
/// @author bootstrap
/// @param {integer} $columns - columns quantity
/// Creates medium-screens columns

@mixin make-medium-column($columns, $gutter: $grid-gutter-width) {
  @include respond-to(medium-screens) {
    position: relative;
    min-height: 1px;
    padding-left:  ($gutter / 2);
    padding-right: ($gutter / 2);
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}


/// @name make-large-column
/// @author bootstrap
/// @param {integer} $columns - columns quantity
/// Creates wide-screens columns

@mixin make-large-column($columns, $gutter: $grid-gutter-width) {
  @include respond-to(wide-screens) {
    position: relative;
    min-height: 1px;
    padding-left:  ($gutter / 2);
    padding-right: ($gutter / 2);
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}


/// @name make-large-column
/// @author bootstrap
/// @param {integer} $columns - columns quantity
/// Creates wide-screens columns

@mixin make-large-column($columns, $gutter: $grid-gutter-width) {
  @include respond-to(wide-screens) {
    position: relative;
    min-height: 1px;
    padding-left:  ($gutter / 2);
    padding-right: ($gutter / 2);
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}


/// @name make-max-column
/// @author bootstrap
/// @param {integer} $columns - columns quantity
/// Creates max-screens columns

@mixin make-max-column($columns, $gutter: $grid-gutter-width) {
  @include respond-to(max) {
    position: relative;
    min-height: 1px;
    padding-left:  ($gutter / 2);
    padding-right: ($gutter / 2);
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}



/// @name make-row
/// @author bootstrap
/// @gutter {string} - gutter-width
/// Creates a wrapper for a series of columns
@mixin make-row($gutter: $grid-gutter-width) {
  // @include respond-to(medium-screens) {
    margin-left:  ceil(($gutter / -2)) !important;
    margin-right: floor(($gutter / -2)) !important;
  // }
  @include clearfix;
}